node_modules
# Keep environment variables out of version control
.env

/generated/prisma

# SQLite Database - DO NOT VERSION CONTROL
*.db
*.db-shm
*.db-wal
prisma/dev.db
prisma/prisma/dev.db
backend/prisma/dev.db
backend/prisma/prisma/dev.db

desktop.ini